<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Destinos</ion-title>
  </ion-toolbar>
</ion-header>

<!--<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let destino of destinos">
      <ion-label>{{ destino.name }}</ion-label>
      <ion-thumbnail slot="start">
        <img [src]="destino.image">
      </ion-thumbnail>
      <p>País: {{ destino.country }}</p>
    </ion-item>
  </ion-list>
</ion-content>-->
<ion-content [fullscreen]="true">
  <ion-searchbar 
  [debounce]="2000"
  (ionInput)="onSearchChange($event)" placeholder="Buscar destinos"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let destino of destinos">
      <ion-img [src]="destino.source"/>
      <ion-label>{{ destino.name }}<br>{{ destino.country }}</ion-label>
      <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>

